.btn-container {
    width: 12em;
    border: 3px solid var(--second-color);
    border-radius: 20% / 80%;
    box-shadow: 0 3px 6px -3px #666;
    margin-top: 2em;
    padding: .7em;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.btn-container::before {
    content: '';
    width: 30px;
    height: 300px;
    background: var(--second-color);
    box-shadow: 0 0 5px 0 #AAA;
    opacity: .8;
    position: absolute;
    transform: translateX(-150px) translateY(-150px) rotate(-15deg);
    transition: 650ms;
}

.btn-container::after {
    content: '';
    width: 30px;
    height: 300px;
    background: var(--second-color);
    opacity: .8;
    box-shadow: 0 0 5px 0 #AAA;
    position: absolute;
    transform: translateX(-220px) translateY(-150px) rotate(-15deg);
    transition: 750ms;
}

.btn-container:hover {
    background: var(--second-color);
    color: var(--main-color);
}

.btn-container:hover::before {
    transform: translateX(200px) translateY(-150px) rotate(-15deg);
}

.btn-container:hover::after {
    transform: translate(150px) translateY(-150px) rotate(-15deg);
}

