#colors {
    position: relative;
}

#colors-id {
    position: absolute;
    top: -5em;
    width: 5em;
    height: 5em;
}

#colors .title-colors-container {
    padding: clamp(1em, 4vw, 5em);
    line-height: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#colors .title-colors-container h3 {
    color: var(--main-color);
    font-size: clamp(1.5em, 2vw, 3em);
    text-transform: uppercase;
}

#colors .title-colors-container h2 {
    font-size: clamp(2.3em, 5vw, 6em);
    text-transform: uppercase;
}

#colors .title-colors-container p {
    color: var(--text-color);
    font-size: clamp(1.1em, 2vw, 1.4em);
}

#colors .car-colors-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#colors .car-colors-container .car-container {
    position: relative;
}

#colors .car-colors-container .car-container .car-images-container .image {
    position: absolute;
    transition: 250ms;
}

#colors .car-colors-container .car-container i {
    border-radius: 50%;
    transform: scale(3, 3);
    transition: 250ms;
}

#colors .car-colors-container .car-container i:hover {
    background-color: rgba(230, 230, 230, 0.7);
}

#colors .car-colors-container .car-container .left-arrow {
    position: absolute;
    top: 50%;
    left: 2em;
}

#colors .car-colors-container .car-container .right-arrow {
    position: absolute;
    top: 50%;
    right: 2em;
}

#colors .car-colors-container .car-container .left-arrow:hover {
    cursor: pointer;
}

#colors .car-colors-container .car-container .right-arrow:hover {
    cursor: pointer;
}

#colors .car-colors-container .color-bubbles-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#colors .car-colors-container .color-bubbles-container .bubble-shape {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}

#colors .car-colors-container .color-bubbles-container .bubble-shape:hover {
    cursor: pointer;
}

#colors .car-colors-container .color-bubbles-container .selected-bubble {
    outline: 3px solid var(--main-color);
    outline-offset: 3px;
}

#colors .car-colors-container .color-bubbles-container .white-bubble {
    background-color: #FFFFFF;
}

#colors .car-colors-container .color-bubbles-container .light-gray-bubble {
    background-color: #787E80;
}

#colors .car-colors-container .color-bubbles-container .gray-bubble {
    background-color: #313538;
}

#colors .car-colors-container .color-bubbles-container .black-bubble {
    background-color: #070707;
}

#colors .car-colors-container .color-bubbles-container .blue-bubble {
    background-color: #162757;
}

#colors .car-colors-container .color-bubbles-container .mat-blue-bubble {
    background-color: #273C6E;
}

#colors .car-colors-container .color-bubbles-container .dark-blue-bubble {
    background-color: #0B1327;
}

#colors .car-colors-container .color-bubbles-container .red-bubble {
    background-color: #500C17;
}

#colors .car-colors-container .color-bubbles-container .orange-bubble {
    background-color: #A23915;
}

#colors .car-colors-container .color-bubbles-container .grass-bubble {
    background-color: #2A301A
}

@media (min-width: 850px) {
    #colors .car-colors-container .car-container .left-arrow {
        left: 3em;
    }
    
    #colors .car-colors-container .car-container .right-arrow {
        right: 3em;
    }
}

@media (min-width: 1100px) {
    #colors .title-colors-container {
        gap: clamp(1.5em, 5vw, 1.7em);
    }
}

@media (min-width: 1200px) {
    #colors .car-colors-container {
        max-width: 70em;
        margin: auto;
    }

    #colors .car-colors-container .car-container .left-arrow {
        left: 6em;
    }
    
    #colors .car-colors-container .car-container .right-arrow {
        right: 6em;
    }
}