#our-team {
    background: url(https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80);
    position: relative;
    background-size: cover;
    background-position: bottom;
}

.background-color {
    min-width: 100%;
    min-height: 100%;
    background-color: var(--main-color);
    opacity: .8;
    position: absolute;
}

#our-team-id {
    position: absolute;
    top: -5em;
    width: 5em;
    height: 5em;
}

#our-team .title-staff {
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3em;
}

#our-team .title-staff h2 {
    color: var(--second-color);
    font-size: clamp(2.3em, 5vw, 6em);
    text-transform: uppercase;
    z-index: 2;
}

#our-team .title-staff p {
    color: var(--second-color);
    font-size: clamp(1.1em, 2vw, 1.8em);
    text-align: center;
    z-index: 2;
}

#our-team .staff {
    padding: .5em;
}

#our-team .staff .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#our-team .staff #person1 {
    display: flex;
}

#our-team .staff .person .img-people-container {
    max-width: 20em;
    background-color: var(--second-color);
    margin: 1em 0;
    border-radius: 50%;
    padding: .8em;
    position: relative;
}

#our-team .staff .person .img-people-container .quotes {
    min-width: 4em;
    min-height: 4em;
    background-color: var(--second-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#our-team .staff .person .img-people-container .quotes i {
    transform: scale(2.5);
}

#our-team .staff .person .img-people-container img {
    min-height: 12em;
    max-height: 12em;
    border-radius: 50%;
    transform: translateY(.7em) translateX(.3em);
}

#our-team .staff .person .about-person {
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    z-index: 2;
}

#our-team .staff .person .about-person .text-about-container {
    /* border: 1px solid white; */
    padding: 1em;
}

#our-team .staff .person .about-person .text-about-container p {
    color: var(--second-color);
    text-align: center;
    font-family: var(--quotes-font);
    font-style: italic;
    font-size: clamp(1.1em, 2vw, 2em);
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 2px;
}

#our-team .staff .person .about-person .name-duty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#our-team .staff .person .about-person .name-duty-container h3 {
    color: var(--second-color);
    font-size: clamp(2em, 2.5vw, 3em);
}

#our-team .staff .person .about-person .name-duty-container h5 {
    color: var(--second-color);
    font-size: clamp(1.1em, 2vw, 1.3em);
    font-weight: 300;
}

#our-team .staff .person .about-person .back-forth-container {
    padding: 1em 2em;
    display: flex;
    gap: 3em;
}

#our-team .staff .person .about-person .back-forth-container i {
    border: 1px solid var(--second-color);
    border-radius: 50%;
    transform: scale(3);
    transition: 450ms;
    color: var(--second-color);
}

#our-team .staff .person .about-person .back-forth-container i:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}