#features {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#features-id {
    position: absolute;
    top: -5em;
    width: 5em;
    height: 5em;
}

#features .features-container {
    padding: clamp(2em, 3vw, 6em);
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-bottom: 2em;
}

#features .features-container .title-features {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

#features .features-container .title-features h3 {
    color: var(--main-color);
    font-size: clamp(1.5em, 2vw, 3em);
    text-transform: uppercase;
}

#features .features-container .title-features h2 {
    font-size: clamp(2.3em, 5vw, 6em);
    line-height: 1em;
    text-transform: uppercase;
}

#features .features-container .title-features p {
    margin-top: 1.5em;
    color: var(--text-color);
}

#features .features-container .number-features {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

#features .features-container .number-features .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
}

#features .features-container .number-features .features h3 {
    font-size: clamp(2.5em, 3.5vw, 5em);
    font-weight: 999;
    text-transform: uppercase;
}

#features .features-container .number-features .features h4 {
    color: var(--text-color);
    font-size: clamp(1.2em, 2vw, 4em);
    font-weight: 400;
    text-transform: uppercase;
}

#features .discover-container {
    display: flex;
    flex-direction: column;
}

#features .discover-container .img-container {
    padding: .7em;
}

#features .discover-container .text-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#features .discover-container .text-container .title-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#features .discover-container .text-container .title-container .title {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

#features .discover-container .text-container .title-container .title h3 {
    color: var(--main-color);
    font-size: clamp(1.5em, 2vw, 3em);
    text-transform: uppercase;
}

#features .discover-container .text-container .title-container .title h2 {
    font-size: clamp(2.3em, 5vw, 6em);
    line-height: 1em;
}

#features .discover-container .text-container .title-container h4 {
    color: #111;
    font-weight: 400;
    font-size: clamp(1.7em, 3vw, 4em);
}

#features .discover-container .text-container .content-container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: .8em;
}

#features .discover-container .text-container .content-container p {
    font-size: clamp(1.1em, 2.5vw, 3em);
}

#features .gallery-container {
    padding: 1em;
}

#features .gallery-container .innovation-container {
    background: var(--main-color);
    padding: 3em 1.3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#features .gallery-container .innovation-container h2 {
    text-transform: uppercase;
    font-size: clamp(2.1em, 4vw, 4em);
    color: var(--second-color);
}

#features .gallery-container .innovation-container h4 {
    font-size: clamp(1.5em, 1.5vw, 3em);
    color: var(--second-color);
}

#features .gallery-container .video-container {
    height: 15em;
}

#features .gallery-container .video-container iframe {
    min-width: 100%;
    min-height: 100%;
}

#features .gallery-container .images-gallery-container {
    position: relative;
    display: flex;
}

#features .gallery-container .images-gallery-container img {
    display: none;
}

#features .gallery-container .images-gallery-container img:nth-child(1) {
    display: block;
}

#features .gallery-container .images-gallery-container .arrows-container{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
}

#features .gallery-container .images-gallery-container .arrows-container .left-arrow {
    /* border: 1px solid white; */
    color: white;
    position: absolute;
    left: 10px;
    bottom: 50%;
    transform: scale(3);
}

#features .gallery-container .images-gallery-container .arrows-container .right-arrow {
    /* border: 1px solid white; */
    color: white;
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: scale(3);
}

#features .gallery-container .text-container {
    border: 1px solid white;
    padding: clamp(1.5em, 5vw, 4em);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#features .gallery-container .text-container p {
    font-size: clamp(1.1em, 2vw, 1.4em);
}

#features .gallery-container .text-container .btn-read-more {
    margin: auto;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--second-color);
    font-weight: 600;
    position: relative;
    transition: 750ms;
}

#features .gallery-container .text-container .btn-read-more:hover {
    background: var(--second-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

@media (min-width: 400px) {
    #features .gallery-container .innovation-container {
        padding: 5em 1.3em;
    }

    #features .gallery-container .video-container {
        height: 20em;
    }
}

@media (min-width: 600px) {
    #features .features-container .number-features {
        flex-direction: row;
        justify-content: center;
        gap: 2%;
    }

    #features .features-container .number-features .red-line {
        width: 4px;
        min-height: 100%;
        background: var(--main-color);
    }
}
@media (min-width: 700px) {
    #features .gallery-container .video-container {
        height: 100%;
    }

    #features .gallery-container {
        display: grid;
    }

    #features .gallery-container .innovation-container {
        border: 2px solid white;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #features .gallery-container .video-container {
        border: 2px solid white;
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

    #features .gallery-container .images-gallery-container {
        border: 2px solid white;
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    #features .gallery-container .text-container {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
}

@media (min-width: 1000px) {
    #features .discover-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #features .discover-container .img-container {
        grid-column: 1 / 2;
        align-self: stretch;
    }

    #features .discover-container .img-container img {
        min-height: 100%;
    }

    #features .discover-container .text-container {
        grid-column: 2 / 3;
    }

    #features .discover-container .text-container .content-container p {
        font-size: 1.3em;
    }

    #features .gallery-container .innovation-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #features .gallery-container .video-container {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

    #features .gallery-container .images-gallery-container {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #features .gallery-container .text-container {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}

@media (min-width: 1100px) {
    #features .features-container .number-features .features {
        padding: 1em;
        flex-direction: row;
        gap: .6em;
    }

    #features .features-container .number-features .features h3 {
        font-size: 3em;
    }

    #features .features-container .number-features .features h4 {
        font-size: 1.6em;
    }
}

@media (min-width: 1200px) {
    #features .features-container .number-features .features h4 {
        font-size: 2em;
    }
}

@media (min-width: 1300px) {
    #features .gallery-container {
        max-width: 95%;
        margin: auto;
    }
}