#specs {
    background-color: #EEE;
    padding: clamp(1em, 4vw, 5em);
    position: relative;
}

#specs-id {
    position: absolute;
    top: -5em;
    width: 5em;
    height: 5em;
}

#specs .title-specs {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

#specs .title-specs h3 {
    color: var(--main-color);
    font-size: clamp(1.5em, 2vw, 3em);
    text-transform: uppercase;
}

#specs .title-specs h2 {
    color: var(--third-color);
    font-size: clamp(2.3em, 5vw, 6em);
    text-transform: uppercase;
}

#specs .choose-container .choice-container {
    border: 2px solid #DD0707;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#specs .choose-container .choice-container div {
    padding: .5em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}

#specs .choose-container .choice-container i {
    background-color: lightgrey;
    border-radius: 50%;
    margin-right: 1em;
    transform: scale(2.5);
    align-self: center;
    transition: 550ms;
}

#specs .choose-container .choice-container .rotate {
    transform: scale(2.5) rotate(-90deg);
}

#specs .choose-container .all-choices {
    max-height: 0;
    overflow: hidden;
    transition: 550ms ease-in-out;
}

#specs .choose-container .menu-vissible {
    max-height: 24em;
}

#specs .choose-container .all-choices .choice {
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    padding: .5em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
}

#specs .choose-container .all-choices .choice:first-child {
    border-top: 1px solid #555;
}

#specs .choose-container .all-choices .choice:hover  {
    background-color: lightgrey;
    cursor: pointer;
}

#specs .specs-tables-container .specs-container h3 {
    margin: .8em 0;
    font-size: 1.7em;
}

#specs .specs-tables-container .specs-container .specification-container .row {
    border-bottom: 1px solid #555;
    padding: .6em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

#specs .specs-tables-container .specs-container .specification-container .row:last-child {
    border-bottom: none;
}

#specs .specs-tables-container .specs-container .specification-container .row div {
    color: var(--text-color);
}

@media (min-width: 1000px) {
    #specs .choose-container .choice-container {
        display: none;
    }

    #specs .choose-container .all-choices {
        max-width: 56.5em;
        max-height: 10em;
        position: relative;
        display: flex;
        gap: 1em;
    }

    #specs .choose-container .all-choices::after {
        content: '';
        min-width: 100%;
        min-height: 3px;
        background-color: lightgray;
        border-radius: 5% 20%;
        position: absolute;
        bottom: 10px;
    }

    #specs .choose-container .all-choices .choice {
        border: none;
        position: relative;
        display: flex;
        justify-content: center;
    }

    #specs .choose-container .all-choices .choice::before {
        content: '';
        width: 0;
        height: 3px;
        background-color: var(--main-color);
        position: absolute;
        bottom: 10px;
        right: 0;
        transition: 450ms;
        z-index: 2;
    }

    #specs .choose-container .all-choices .choice.active::before {
        width: 100%;
        left: 0;
        z-index: 2;
    }

    #specs .choose-container .all-choices .choice:hover {
        background-color: inherit;
     }

    #specs .choose-container .all-choices .choice:first-child {
        border-top: none;
    }
}

@media (min-width: 1100px) {
    #specs .title-specs {
        line-height: 3em;
    }
}

@media (min-width: 1200px) {
    #specs .title-specs {
        line-height: 3em;
    }
}